.tabBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #606060;
  padding: 10px;
}
.activeCustomClass {
  color: white;
  border-bottom: 2px solid white;
}
